<!-- Side Bar -->
<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-light" style="position: sticky; top: 0; height: 100vh;">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h3>My App</h3>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{ exact: true }"
             aria-current="page"
             class="nav-link"
             routerLink="/"
             routerLinkActive="active">Gallery</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{ exact: true }"
             aria-current="page"
             class="nav-link active"
             routerLink="create-album"
             routerLinkActive="active">Create album</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{ exact: true }"
             aria-current="page"
             class="nav-link active"
             routerLink="create-image"
             routerLinkActive="active">Create image</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{ exact: true }"
             aria-current="page"
             class="nav-link active"
             routerLink="settings"
             routerLinkActive="active">Settings</a>
        </li>
      </ul>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

